@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

*{
  margin-top:0;
  padding: 0;
  box-sizing: border-box;
}
main> section {
  max-width: 1440px;
  margin: 0 auto;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
/* shared style */
.display-flex {
  display: flex;
}
/* dark 02 */
.text-gray {
  color: #424242;
}
/* dark 03 */
.light-gray {
  color: #727272;
}
.bg-color {
  padding-top: 50px;
  background: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  font-size: 1.25rem;
  font-weight: 600;
  background: #ff900e;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 20px 25px;
  margin-bottom: 50px;
}

/* header style */

/* navbar related style */
.brand {
  font-size: 2.8rem;
  font-weight: 700;
}
.navbar {
  justify-content: space-between;
  align-items: center;
}
.nav-item {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  gap: 70px;
  font-size: 1.2rem;
  font-weight: 600;
}
.navbar,
.banner {
  max-width: 1440px;
  margin: 0 auto;
}
/* banner related style */

.banner-container {
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
}
.banner-heading {
  font-size: 4.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-desticribon {
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 32px;
}
.banner-image {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 45px;
}

/* main image-container related style */

.photo-section {
  gap: 73px;
  justify-content: center;
  align-items: center;
  margin-top: 85px;
  margin-bottom: 130px;
}
.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.paragrap-section {
  max-width: 530px;
}
.feature-title {
  font-size: 2.81rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.paragrap-section .quick {
  font-weight: 500;
}
.paragrap-section .features {
  color: #ff900e;
}
.paragrap-section p {
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 32px;
}
/* love&enjoy related style */
.love-container{
  gap: 146px;
  margin: 130px auto;
}
.love-section{
  max-width: 586px;
}
.love-section h2{
   border-left: 5px solid #ff900e;
   padding-left:  20px;
   font-size: 2.8rem;
   font-weight: 700;
   margin-bottom: 24px;
}
.love-section p{
  font-size: 1rem;
  line-height: 26px;
  margin-bottom: 30px;
}
.enjoy-card{
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  margin-bottom: 20px;
}
.enjoy-card h3{
  font-size: 1.25rem;
  font-weight: 600;
}
.years-section img{
  max-width: 708px;
  
}
.bt2{
  max-width: 742px;
  padding: 45px 42px;
  height: 200px;
  margin-top: -123px;
  margin-left: -92px;
}
.year{
  font-size: 4rem;
  font-weight: 700;
}
.exp{
  font-size: 1.4rem;

}
/* some facts related style */

.fact-cointainer{
  max-width: 540px;
}
.fact-title{
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 30px;
}
.fact-describtion{
  margin-bottom: 100px;
  
}
.card-cointainer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:124px ;
}
.card-cointainer .card{
  border: 1px solid #ff900e;
  border-radius: 8px;
  padding: 45px 34px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 150px;
  width: 241px;
  height: 241px;
}
.card img {
  width: 45.22px;
  height: 45.22px;
  margin-bottom: 10px;
}
.card h2 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 5px;
}
.card h5 {
  font-size: 1.25rem;
  font-weight: 600;
}
/* sponsor section related style */
.sponsor-section{
  justify-content: center;
  margin-top: 50px;
}
.sponsor-section h2{
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 24px;
}
.sponsor-section p{
  font-size: 1rem;
  line-height: 26px;
}
.sponsor-container{
  margin: 50px auto;
  max-width: 542px;
  text-align: center;
}
.sponsor-image{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 155px;
  filter: grayscale(100%);
}

/* footer related style */
footer{
  max-width: 1440px;
  margin: 150px auto;
}
small{
 font-size: 1.25rem;

}
.footer-title{
  text-align: center;
}

@media screen and (max-width: 576px) {
  .navbar,
  .nav-link,
  .photo-section,
  .love-container {
    flex-direction: column;
  }
  .image-container,
  .card-cointainer, .sponsor-image{
    grid-template-columns: repeat(1, 1fr);
  }
  .paragrap-section {
    text-align: center;
  }
  .years-section img{
    width: 100%;
    margin: 0 auto;
  }
  .bt2{
  max-width: 95%;
  margin:20px;
}
.btn-2nd{
  justify-content: center;
}
.love-section{
  width: 95%;
}
.enjoy-card{
  margin: 20px;
}
  .fact-cointainer{
    width: 95%;
    margin: 0 auto;
  }
  .sponsor-image{
    width: 100%;
    margin: 50px auto;
    justify-items: center;

  }
  .sponsor-container{
    margin: 10px 20px;
    text-align: center;
  }
  .card-cointainer{
     width: 97%;
    padding: 20px;
    justify-items: center;
  }
  footer{
    width: 100%;
  }
  .footer-title{
    padding: 20px;
    line-height: 50px;
  }
}
@media screen and (min-width:576px) and (max-width: 992px) {
  .photo-section,
  .navbar, .love-container {
    flex-direction: column;
  }
  .navbar,
  .banner{
    width: 100%;
  }
  .card-cointainer{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}
.bt2{
  max-width: 95%;
  margin:20px;
}
.years-section{
    width: 100%;
    text-align: center;
    justify-items: center;
  }
.sponsor-image{
  grid-template-columns: repeat(2, 1fr);
  margin-left: 80px;
}
}